@font-face {
    font-family: IranSans;
    src: url('./fonts/iransansregular.ttf');
}
*{
    font-family: IranSans ;
    font-size:inherit;
}
.fill-page{
    height:100%;
}

p {
    margin: 0px 0px;
}